body{
  background-color:black;
}

p{
  color:pink;
  text-align : center;
    font-size : 70px
}
h1{
  color: white;
   text-align :left;

}

h2{
  color:white;
  
}
body {
  margin: 0;
  font-family: sans-serif;
}

.panel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.panel img {
  width: 60%;
  height: auto;
}
