body{
  background-color:black;
}

p{
  color:pink;
  text-align : center;
    font-size : 70px
}
h1{
  color: white;
   text-align :left;

}

h2{
  color:white;
  
}
body {
  margin: 0;
  font-family: sans-serif;
}

panel {
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 3rem;
}
img {
  width: 40%;
  height: auto;
}
.bandeau {
  display: flex;                 
  overflow-x: auto;              
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch;
  gap: 20px;
  padding: 20px;
}

.projet {
  flex: 20 0 20%;                 
  scroll-snap-align: start;
}

.projet img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.bandeau::-webkit-scrollbar {
  display: none;
}
